@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "antd/dist/antd.css";
@import "react-chat-elements/dist/main.css";

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #c0b6b6;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.content {
  background-color: #c0b6b6;
  padding: 0 8%;
}

.content_courseLearn {
  background-color: #c0b6b6;
  padding: 0 2%;
}

.box {
  background-color: white;
  padding: 2rem;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

.centering {
  display: flex;
  justify-content: center;
}

.loadingIcon {
  font-size: 5rem;
  margin-top: 5rem;
}

.avatarImg {
  display: block;
  margin: 0 auto;
}

.courseCardImg {
  height: 18vh;
}

.thumbnail {
  width: 100%;
  height: 50vh;
  margin-top: 2rem;
}

.courseInfoHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.courseInfoHeader button {
  display: block;
  width: 10rem;
}
